@use '../styles.scss' as g;

.button {
  height: 56px!important;
  font-size: 17px;
  font-family: 'Fira Sans';
}

a {
  color: map-get(g.$ginginbell-accent, 500);
}

.button-container {
  margin-bottom: 40px;
}

h1, h2{
  text-transform: uppercase;
}
h2 {
  color: white
}

.mb-1 {
  margin-bottom: 20px;
}

.disclaimer {
  color: map-get(g.$ginginbell-primary, 300);
  font-size: 80%;
}

p {
  line-height: 200%;
}

.focus {
  display: flex;
  flex-direction: column;
  text-align: center;
}
