<div class="fullscreen" [@fade]="fadeInStart">
  <img class="cover" src="/assets/cover.png" class="cover">
  <div class="focus">
    <ng-container *ngIf="!started">
      <ng-container *ngIf="!done">
        <p>
          Camminata riscaldante di Natale
          <br>
          A seguire Caffè OFFERTO
        </p>
        <p>
          <b>Quando: </b> 23 Dicembre 2023, ore 9.30
          <b>Dove: </b>
          Partenza e Arrivo <a href="https://bargiardinofaenza.it/" target="_blank">Bar Giardino</a>
          <br>
          <a href="https://maps.app.goo.gl/t6XQ7E9MqZqzH3Ns5">Faenza, Viale Vittorio Veneto, 5</a>
          <br>
          <b>Perchè: </b>
          L'iscrizione ci serve solo per contarci, lasciaci un nome e se vuoi un contatto
          (email ✉️, telefono 📞, account instagram 📷)
          <br>
          <b>
            Iscrizioni entro {{ eventDate | date }}
          </b>
        </p>
        <mat-form-field appearance="outline">
          <mat-label>Nome e Cognome</mat-label>
          <input class="right" matInput placeholder="Luca Rossi" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contatto</mat-label>
          <input class="right" matInput placeholder="@ginepro.asd" type="" [(ngModel)]="contact">
        </mat-form-field>
        <button mat-flat-button color="primary" class="button" (click)="onClick()">
          Conferma
          <mat-icon>favorite</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="done">
        <button mat-flat-button color="primary" class="button" (click)="newOne()">
          Iscrivi un altro
        </button>
      </ng-container>
      <ng-container *ngIf="done">
        <h2>
          <mat-icon>favorite</mat-icon>
          Grazie {{ name }}!
          <mat-icon>favorite</mat-icon>
        </h2>
      </ng-container>
      <p>
        Per ora siamo {{ length }}, ma c'è tempo per crescere 💪
      </p>
      <p class="disclaimer">🤫 I dati sono trattati in forma anonima e riservata, useremo il contatto solo per comunicazioni necessarie e urgenti.</p>
    </ng-container>
    <ng-container *ngIf="started" [@fade]="fadeInStart">
      <h1>Iscrizioni chiuse</h1>
      <h2>
        Ecco i partecipanti:
      </h2>
      <div class="button-container">
        <button mat-mini-fab color="secondary" (click)="shuffle()"><mat-icon>shuffle</mat-icon></button>
      </div>
      <p *ngFor="let entry of entries; let i = index"
        class="signature"
        [ngClass]="getRandomColorClass()"
        [style.margin-left.px]="getRandomMarginLeft()"
        [style.margin-top.px]="getRandomMarginTop()">
        {{ entry.name }}
      </p>
    </ng-container>
  </div>
</div>