<div class="focus">
  <ng-container *ngIf="!passwordGiven">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" (input)="onChange()">
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="passwordGiven">
    <ng-container *ngIf="(entries | async) as dataSource">
      <ng-container *ngIf="(event | async) as event">
        <table mat-table [dataSource]="dataSource"
               class="mat-elevation-z8">
          <ng-container matColumnDef="main">
            <th mat-header-cell *matHeaderCellDef>
              <p class="left name">
                Iscritti {{event.name}}: {{dataSource.length}}
              </p>
              <p class="left name">
                Iscritti {{event.postEventName}}: {{countPostEvent(dataSource)}}
              </p>
            </th>
            <td mat-cell *matCellDef="let entry">
              <p class="left name">
                {{entry.name}} ({{entry.contact}})
              </p>
              <p class="right" *ngIf="entry.postEvent">
              {{event.postEventName}}
              </p>
              <p class="right" *ngIf="entry.food != ''">
                {{entry.food}}
              </p>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </ng-container>
    </ng-container>
  </ng-container>
</div>