@use '../../styles.scss' as g;

$mobile-breakpoint: 768px;

.fullscreen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-areas: 
    "focus cover";
  min-height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  background: url('../../assets/aio.png');
  background-position: top;
  background-size: cover;
  color: white;
  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "cover"
      "focus";
    .cover {
      width: 280px!important;
      margin-top: 50px;
    }
  }
  .cover {
    grid-area: cover;
    width: 350px;
    text-align: center;
    .maxi {
      width: 200%;
      margin-left: -60%;
    }
    .mini {
      width: 30%;
    }

  }
  .focus {
    grid-area: focus;
    width: 320px;
  }
}
